<div class="tripInfoContainer">
  <div class="cityPictureContainer">
    <img class="cityPicture" id="cityPicture" src="../media/loading.jpg">
  </div>
  <div class="tripDetailContainer">
    <div class="location heading">My trip to: <span id="tripLocation"></span></div>
    <div class="departureDate heading">Departing: <span id="tripDepartureDate"></span></div>
    <div class="actionButtonContainer">
      <button type="button" class="saveTrip" id="saveTrip" name="saveTrip" aria-label="Save trip">save trip</button>
      <button type="button" class="removeTrip" id="removeTrip" name="removeTrip" aria-label="Remove trip">remove trip</button>
    </div>
    <div class="tripLoc2Container"> <span id="tripLocation2">Paris France</span> is <span is="duration">5 days </span> away</div>
    <div class="weatherInfoContainer">
      <div class="subHeading">Typical weather for then is:</div>
      <div class="temp">High - <span id="highTemp"></span> Low - <span id="lowTemp"></span></div>
      <div id="additionalWeatherInfo"></div>
    </div>
  </div>
</div>




<div class="container" id="pageContent" wfd-id="2"><div class="tripInfoContainer" wfd-id="80">
  <div class="cityPictureContainer" wfd-id="100">
      <img class="cityPicture" id="cityPicture" src="https://pixabay.com/get/57e0d0434d5bb10ff3d8997cc220307a113fddf85254794f75277bd4974a_640.jpg">
    </div>
    <div class="tripDetailContainer" wfd-id="81">
      <div class="location heading" wfd-id="98">My trip to: <span id="tripLocation" wfd-id="99">New York, United States</span></div>
      <div class="departureDate heading" wfd-id="96">Departing: <span id="tripDepartureDate" wfd-id="97">2020-04-06</span></div>
      <div class="actionButtonContainer" wfd-id="95">
        
      <button data-id="1586080008230" class="removeTrip" wfd-id="102">remove trip</button></div>
      <div class="tripLoc2Container" wfd-id="92">My trip to <span id="tripLocation2" wfd-id="94">New York, United States</span> is <span class="duration" wfd-id="93">1 day away,</span></div>
      <div class="tripDurationContainer" wfd-id="88">
        
    <div class="tripDuration" wfd-id="91">and I will be spending 4 days there</div>
    <div class="subHeading returnPeriod" wfd-id="89">I will be returning on 2020-04-10 <span class="tripEndsIn" wfd-id="90">(in 5 days time)</span></div>
    
      </div>
      <div class="weatherInfoContainer" wfd-id="82">
        <div class="subHeading" wfd-id="87">Typical weather for then is:</div>
        <div class="temp" wfd-id="84">High - <span id="highTemp" wfd-id="86">15.9</span> Low - <span id="lowTemp" wfd-id="85">7</span></div>
        <div id="additionalWeatherInfo" wfd-id="83"> Mostly undefined throughout the day.</div>
      </div>
    </div>
  </div></div>