<div class="tripInfoContainer">
  <div class="cityPictureContainer">
    <img class="cityPicture" id="cityPicture" src="../media/loading.jpg">
  </div>
  <div class="tripDetailContainer">
    <div class="location heading">My trip to: <span id="tripLocation"></span></div>
    <div class="departureDate heading">Departing: <span id="tripDepartureDate"></span></div>
    <div class="actionButtonContainer">
      <button type="button" class="saveTrip" id="saveTrip" name="saveTrip" aria-label="Save trip">save trip</button>
      <button type="button" class="removeTrip" id="removeTrip" name="removeTrip" aria-label="Remove trip">remove trip</button>
    </div>
    <div class="tripLoc2Container"> <span id="tripLocation2">Paris France</span> is <span is="duration">5 days </span> away</div>
    <div class="weatherInfoContainer">
      <div class="subHeading">Typical weather for then is:</div>
      <div class="temp">High - <span id="highTemp"></span> Low - <span id="lowTemp"></span></div>
      <div id="additionalWeatherInfo"></div>
    </div>
  </div>
</div>