body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow Bold", Helvetica, sans-serif;
    background-color: rgb(237, 241, 244);
}

main {
    flex: 2;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
}
