#form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    input.city {
        flex:1;
    }

    input {
        padding: 10px 20px;
        line-height: 16px;
        margin-right: 10px;
        height: 38px;
        border: 1px solid #a2a2a3;
    }
    input.date {
        width:220px;
    }
    
    #submit {
        padding: 10px 20px;
        width: 100px;
        line-height: 16px;
        margin: 0;
        margin: 10px 0;
        background-color: #3845b8;
        border: none;
        outline: none;
        color: #ffffff;
        cursor: pointer;
        justify-self: right;
    }
}