header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    color: #ffffff;
    background-color: rgb(43, 61, 77);
    text-align: center;
    height: 50px;
    padding:15px
}
