header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    padding:15px;
    padding-top: 45px;
    padding-bottom: 20px;
}
